<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <style>
      h1 {
        color: green;
      }
    </style>
  </head>
  <body>
    <h1>Create an account</h1>
    <form action="#" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" /> <br /><br />
      <label for="password">Password:</label>
      <input type="password" name="password" /><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>