<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <base href="indexR/" />
    <title>
      index = ejs
      <% if(!htmlWebpackPlugin.options.title && title){ %> :: <%= title %><% } %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

  
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.6/umd/react.production.min.js" integrity="sha256-3vo65ZXn5pfsCfGM5H55X+SmwJHBlyNHPwRmWAPgJnM=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/react-is@16.8.6/umd/react-is.production.min.js" integrity="sha256-Fi+dcUFT9ye5TwxISj6qNK7JVz4wDZwwSlyNJ1IW0Rk=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.7.2/prop-types.min.js" integrity="sha256-TIg1BRfugqpPM2jmfvGkU8pmNtz6ZEm049b6pch3Bm4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.6/umd/react-dom.production.min.js"   integrity="sha256-qVsF1ftL3vUq8RFOLwPnKimXOLo72xguDliIxeffHRc=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/5.0.0/react-router.min.js" integrity="sha256-jMpKCGbe4xyH4XXYCrM55IQvmcGVJ6YYKvIFceL4ymU=" crossorigin="anonymous"></script>  

<script type="text/javascript" src="https://unpkg.com/redux@4.0.1/dist/redux.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/redux-saga@1.0.2/dist/redux-saga.umd.min.js" integrity="sha256-ngUJBvujekGVMz0v3qbNDXZO4D1rUGhcY00jRD2z04U=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/tiny-warning@1.0.2/dist/tiny-warning.min.js" integrity="sha256-ZPYwejlJgndNFhfIFy3UlfY9oxcD4Ml5x5XM/j1U76I=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/tiny-invariant@1.0.4/dist/tiny-invariant.min.js" integrity="sha256-inKJhB3fy1/zeTk4X75HpoojRPaBHibQtbfe6G12qdk=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0.0/dist/fetch.umd.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/classnames/2.2.6/index.min.js" integrity="sha256-F62ndp/nGwAANIGnIBg5zfQcb3cRpzGwVAWlH3pZzpk=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/value-equal@1.0.1/umd/value-equal.min.js" integrity="sha256-1f6ftErRFhM5iebHkYo+/+uFclzAwZvuU2QEHtyz0OQ=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/resolve-pathname@3.0.0/umd/resolve-pathname.min.js" integrity="sha256-OPWU+FPzEvYDXwssFlruiPpw0qfek+aLQVjmuCnaOC4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js" integrity="sha256-RtMTraB5gGlLER0FkKBcaXCmZCQCxkKS/dXm7MSEoEY=" crossorigin="anonymous"></script>

    <script>var cmsDistributionMode = true; window["cmsDistributionMode"] = cmsDistributionMode; </script>
    <!-- <link rel="icon" type="image/x-icon" href="./assets/layout/images/favicon.ico"> -->
    <style>
      div.overlayWrapper { z-index:99;
  position:fixed; top: 0; left: 0px;  height: calc(100%);  width: calc(100%); background: Gainsboro; 
}
div.appLoadingOverlay { 
        display: flex; flex-wrap: wrap; box-sizing: border-box; height: 100%; width: 100%;
        flex-direction: column; color: dimgray; align-content: center; justify-content: center;
      }
      div.appLoadingOverlayRow {
        padding: 0px; margin: 0px; text-align: center; 
        font-size: 2em; padding: 0px;
      }
    </style>
  </head>
  <body class="<% if(!htmlWebpackPlugin.options.title && id){ %><%= id %>" id="page_id_<%= id %><% } %>">
    <noscript>
      You need to enable JavaScript to run this app.
  </noscript>
  <!-- <body> -->
    <div id="app"></div>
    <div class="overlayWrapper" id="overlayWrapper">
      <div class="appLoadingOverlay" id="appLoadingOverlay">
        <div class="appLoadingOverlayRow" id="appLoadingOverlayRow">
          Loading...
        </div>
      </div>
    </div>
  </body>
</html>