<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <base href="./" />
    <title>
      user = EJS
      <% if(!htmlWebpackPlugin.options.title && title){ %> :: <%= title %><% } %>
    </title>
    <script>var cmsDistributionMode = true; window["cmsDistributionMode"] = cmsDistributionMode; </script>
  </head>
  <body class="<% if(!htmlWebpackPlugin.options.title && id){ %><%= id %>" id="page_id_<%= id %><% } %>">
    <app></app>
  </body>
</html>

